[submodule ".registry"]
	path = .registry
	url = https://github.com/psychelzh/psychelzh.r-universe.dev
	branch = HEAD
[submodule "RMariaDB"]
	path = RMariaDB
	url = https://github.com/r-dbi/RMariaDB
	registered = false
[submodule "data.iquizoo"]
	path = data.iquizoo
	url = https://github.com/psychelzh/data.iquizoo
[submodule "preproc.iquizoo"]
	path = preproc.iquizoo
	url = https://github.com/psychelzh/preproc.iquizoo
[submodule "tarflow.iquizoo"]
	path = tarflow.iquizoo
	url = https://github.com/psychelzh/tarflow.iquizoo
